@charset "utf-8";
/* CSS Document */
html, body {height: 100%;}
body {
	padding: 0;
	margin: 0;
	background: #ececec url("http://www.caurs.com/New%20Website/images/background.png") repeat-y center top;
	width: 100%;
	display: table;
}
#wrapper {
	width: 1020px;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	position: relative;
	z-index: 50; /* z-index wrapper always needs to be one more than z-index logo */
}

/* Heading */
#logo {
	position: absolute;
	left: 50px;
	z-index: 49; /* watch out for other elements that may invalidate this z-index */
}
#heading {
	height: 147px;}
.headingwords {
	padding: 28px 0px 0px 220px;	
	color: #333333;
	font-family: 'Lato', Arial, Helvetica, sans-serif;}
a.firstheadingline:link, a.firstheadingline:hover, a.firstheadingline:visited  {
	text-decoration: none;
	font-size: 38px;
	color: #333333;}
a.secondheadingline:link, a.secondheadingline:hover, a.secondheadingline:visited  {
	text-decoration: none;
	font-size: 28px;
	color: #333333;}
#skyline {
	position: absolute;
	top: 107px;
	right: 0px;	}
/* end of heading */

/* Navigation bar */
#leftbar {
	position: relative;
	float: left;
}
#rightbar {
	margin-left: 40px;	
	float: left;
}
#links {
	width: 904px;
	height: 25px;
	background: #FFFFFF url("http://www.caurs.com/New%20Website/images/links.png") 0 0;
	float: right;
}
/* #### NAVIGATION BAR ### */
	.mynavbar {
		position: relative;
		width: 100%;
		height: 25px; /* corresponds to 'line-height' of a.navbartitle below */
		margin: 0; border: 0; padding: 0;
		background: url(images/links.png) 0 0;
		background-repeat: repeat-x;
		z-index: 51;
	}
	a.navbartitle {
		display: block;
		float: left;
		color: #333333;
		background: url(images/links.png) 0 0;
		background-repeat: repeat-x;
		font-family: 'Questrial', Verdana, Arial, Geneva,  Helvetica, sans-serif;
		font-size: 14px;
		font-weight: 550;
		margin: 0px;
		border: 0;
		padding: 0;
		line-height: 25px; /* corresponds to 'top' value of .submenu below */
		text-align: center;
		text-decoration:none;	
	}
	a.navbartitle:hover {
	  background: url(http://www.caurs.com/New%20Website/images/links.png) 0 -25px;
	  background-repeat: repeat-x;
	  color: #333333;
	}
	a.navbartitle:visited {
	  color: #333333;
	}
	/* menu title widths */
	#home { width: 110px; }
	#currentsymposium { width: 160px; }
	#aboutcaurs { width: 125px; }
	#registration { width: 135px; }
	#faq { width: 75px; }
	#contactus { width: 115px; }
	#aurs { width: 105px; }
	/* We just specify a fixed width for each menu title. Then, down below we specify
		a fixed left position for the corresponding submenus.
		Using these fixed values isn't as elegant as just letting the text of each 
		menu title determine the width of the menu titles and position of the submenus,
		but we found this hardwired approach resulted in fewer cross-browser/cross-OS 
		formatting glitches -- and it's pretty easy to adjust these title widths and the
		corresponding submenu 'left' positions below, just by eyeballing them whenever
		we need to change the navbar menu titles (which isn't often). */
	
	.submenu {
		position:absolute;
		z-index: 2;
		top: 25px; /* corresponds to line-height of a.navbartitle above */
		padding: 0;
		margin: 0;
		width:166px; /* If adjust this, then adjust width of .submenu below a too */
		color: #e6e6e6;
		background-color:  #666666;
		border: 1px solid #447755; /* box around entire sub-menu */
		font-family: Verdana, Arial, Geneva,  Helvetica, sans-serif;
		font-size: 11px;
	}
	/* Fix IE formatting quirks. */
	* html .submenu { width: 148px; } /* IE needs narrower than width of .submenu above */
	/* End */
	
	/* position of each sub menu */
	/* We just eyeball the position of each submenu here -- can move left or right as needed. 
	   If you adjust menu title text, you might want to adjust these too. */
	#currentsymposium_submenu {  left: 110px; visibility: hidden; }
	#aboutcaurs_submenu {  left: 270px; visibility: hidden; }
	#registration_submenu {  left: 395px; visibility: hidden; }
	/* Note, each submenu is hidden when the page loads - then made visible when
		the mouse goes over the menu title. Using the 'visibility' property instead
		of using the 'display' property avoided a bug in some versions of Safari. 
		(The bug is pretty where esoteric: The browser ignored the 'hover' property 
		on 'li' objects inside an object whose display property was set to 'none' 
		when the page loaded...) Using the 'visibility' property instead of 'display'
		would normaly take up extra room on the page, but that's avoided here by putting
		the submenu on a second layer: see 'position: absolute' and 'z-index: 2'
		in .submenu definition, higher up this page. */
	
	.submenu a
	{
		display: block;
		color: #e6e6e6;
		background-color: #666666;
		width: 146px; /* This should be width of .submenu above minus right-side padding on next line */
		padding: 5px 0px 4px 20px;
		text-decoration: none;
		border-bottom: #c4cefc dotted 1px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
	
	.submenubox { margin: 0; padding: 0; border: 0;}
	.submenubox ul {
		position: relative; display: block; 
		margin: 0; padding: 0; border: 0;
		list-style-type: none;}
	
	.submenubox ul li {
		position: relative; display: block;  
		margin: 0; padding: 0; border: 0;
		font-size: 12px;}
	.submenubox ul li a:link {color: #e6e6e6 }
	.submenubox ul li a:visited {color: #e6e6e6 }
	.submenubox ul li a:hover {
		color: #c6e8e2; /* text color for submenu items */
		background-color: #333333;
		border-bottom: #CCCCCC dotted 1px;}
/* #### END OF NAVIGATION BAR ### */

#bodywrapper {
	background-color: #FFFFFF;
	padding: 3px;
	clear: both;
	overflow:auto;}
#bodycontent {
	float: left;
	width: 915px;
	padding-left:5px;
	margin-top:10px;
	}
#bodyleft{
	float:left;
	width:450px;
	padding:5px;
	background-color:#0f0;
}
#bodyright{
	float:left;
	width:450px;
	padding:5px;
	background-color:#00f;
	color:#fff;
}
.schools {
	float: right;
	margin: 0; padding: 0; border: 0;}
.schools ul {
 	margin: 0; padding: 0; border: 0;
  	list-style-type: none;}
.schools ul li {
	margin: 0 0 3px 3px; padding: 0; border: 0;}

#fill {
	background-color: #FFFFFF;
	clear: both;}

#footer {
	text-align: center;
	font-size: 9px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:25px;
}
#footer a, a:visited{
	color: #0163a7;
}
#footer a:hover{
	color: #002d4c;
}
