@charset "utf-8";
/* CSS Document */

/* editable body is currently 920px wide */

/* slideshow */
#slider {clear: both;}
#slider ul.slideshow li.show {
	z-index : 1;}
#slider ul.slideshow {
	list-style : none;
	width : 610px;
	height : 225px;
	overflow : hidden;
	position : relative;
	margin : 0;
	padding : 0;}
#slider ul.slideshow li {
	position : absolute;
	left : 0;
	right : 0;
	padding : 0;
	margin : 0;}
#slider ul img {
	border : none;}
#slider #caption {
	margin : 0;
	background : #000;
	position : absolute;
	height : 18px;
	_height : 30px;
	width : 610px;
	bottom : 0;
	left : 0;
	padding : 3px 0px 3px 7px;
	color : white;
	border : 0;
	z-index : 1;}
#slider #caption p {
	margin : 0;
	padding : 0;
	font-size : 12px;
	color : white;
	font-family : 'Nobile', Arial, Helvetica, san-serif;}
/* end of slideshow */

/* right content on index.html*/
#rightcontent {
	margin: 0;
	padding: 0;
	width: 300px;
	float: left;}
#announcements {
	margin: 0; 
	padding: 0 8px 0 16px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
#announcements h3 {
	background-image: url(http://www.caurs.com/New%20Website/images/announcementsbar.png);
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size:14px;
	width: 100%;
	line-height: 24px;
	text-indent: 6px;}
#announcements p {
	margin: 0;
	padding: 8px 8px 8px 8px;
	font-size:12px;}
#announcements p.title {
	font-size: 15px;
	color: #C00;}
#opentoall {
	text-align: center;
	font-size: 14px;
	color: #03C;
	font-weight: 600;}
#registertoday {
	text-align: center;
	font-size: 14px;
	color: #03C;}
#holidayinnnight{
	width: 260px;
	height: 139px;
	border: 0;
	display: block;
    margin-left: auto;
    margin-right: auto } 
#importantdates {
	margin: 0 8px 0 16px;
	padding: 12px;
	border: 2px solid #c1d7ff;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
#importantdates h4 {
	margin: 0; 	padding: 0;
	font-size: 14px;}
#importantdates p {margin: 0; padding: 0;}
.impdate {
	margin: 0; 	padding: 0;
	font-size: 13px;
	font-weight: 800;}
.impdescription {
	margin: 0; 	padding: 0;
	font-size: 13px;}
/* end of Right Content */

/* Left content on index.html */
#leftcontent {
	float: left;
	width: 610px;}
#leftcontent_main {
	margin: 0;
	padding: 16px 8px 8px 8px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
#leftcontent_main h2{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 700;
	text-align: center;}
#leftcontent_main h3{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: 700;
	text-align: center;}
#leftcontent_main p {
	font-size: 14px;
	text-align: justify;}
#leftcontent_main a, a:visited{
	color: #0163a7;
	text-decoration: none;}
#leftcontent_main a:hover{
	color: #002d4c;}
#leftcontent_main img {
	display: block;
    margin-left: auto;
    margin-right: auto }
/* end of Left Content */

/* main content */
#maincontent {
	padding: 8px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
#maincontent h1 {
	margin, padding: 0;
	font-size: 18px;
	color: #002d4c;
	clear: both;}
#intro p{
	font-size: 14px;
	font-color: #000000;}
#maincontent h2 {
	margin, padding: 0;
	font-size: 16px;
	color: #0145B6;}
#maincontent #isb{
	margin: 8px 0 0 0;
	text-align: center;}
#maincontent h4 {
	margin, padding: 0;
	font-size: 14px;
	color: #01307d;}
.up {   /* formatting for Up arrow on several long pages */
	float: right;
	font-size: 12px;}
.up a:link, a:visited{
	color: #000000;
	font-size: 12px;
	text-decoration: none;}
.up a:hover{
	color: #3661ad;}
.up img{
	vertical-align: bottom;}

/* isb page */
#currentisb {
	text-align: center;}
#currentisb h3{
	margin: 2px; padding: 0;
	font-size: 14px;
	color: #002d4c;}
#currentisb .isbcontent{
	margin: 0; padding: 0;
	font-size: 14px;
	color: #000000;}
#currentisb .isbcontent	a:link, a:visited{
	color: #000000;}
#currentisb .isbcontent a:hover{
	color: #3661ad;}
#bios h3{
	margin: 0; padding: 20px 0 3px 0;
	font-size: 13px;
	align: bottom;
	color: #002d4c;
	clear: both;}	
#bios img{
	margin: 0 8px 0 0;
	float: left;
	width: 125px;}
#bios #individualbio{
	font-size: 15px;
	margin-left: 108px;
	color: #000000;}
/* end of isb page */

/* isb and symposia navigation dropdown list */
#isbnavigateform {
	text-align: center;
	width: 200px;
	margin: 0 auto;
	clear: both;
	}
#isbnav {
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: center;}
#pasteventsnavform {
	text-align: center;
	width: 200px;
	margin: 0 auto;
	clear: both;}
#pasteventsnav {
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: center;}
fieldset.isb {
	border: 1px solid #002d4c;
	width: 200px;}
legend.isb {
	color: #c6e8e2;
	background-color: #333333;
	border: 1px solid #002d4c;
	padding: 2px 6px;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif}
fieldset.past {
	border: 1px solid #002d4c;
	width: 175px;}
legend.past {
	color: #c6e8e2;
	background-color: #333333;
	border: 1px solid #002d4c;
	padding: 2px 4px;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif} 
/* end of isb navigation dropdown list */

/* faq */
ul.faq {
	line-height: 18px;
	font-size: 13px;
	margin-left: -12px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
ul.faq a:link, a:visited{
	color: #000000;
	text-decoration: underline;}
ul.faq a:hover{	
	color: #3661ad;}
.question{	
	line-height: 24px;
	padding: 8px 0 4px 0;
	font-weight: 600;
	color: #002d4c;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
.answer{	
	color: #000000;
	font-size: 13px;
	margin-left: 28px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
.otherquestions{	
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
/* end of faq */

/* about CAURS */
#aboutcontent {
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;}	
#aboutcontent a:link, a:visited{
	color: #213A69;
	text-decoration: underline;}	
#aboutcontent a:hover{
	color: #3661ad;}
#aboutlinks {
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: center;
	line-height: 30px;
	float: right;
	width: 175px;
	margin: 4px 0px 8px 16px;
	padding: 8px;
	background-color: #c4d5ff;}	
#aboutlinks a:link, a:visited{
	color: #000000;
	text-decoration: underline;
	line-height: 30px;}	
#aboutlinks a:hover{
	color: #3661ad;
	text-decoration: underline;}	
/* end of About CAURS */

/* Current Symposium */
#symposiumlinks {
	width: 200px;
	float: right;
	margin: 4px 0px 4px 20px;
	text-align: center;
	border: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;}
#symposiumlinks img{
	margin: 0 0 8px 0;}
#symposiumlinks a:link, a:visited{
	border: 0;
	color: #000000;}
#symposiumlinks a:hover{
	color: #3661ad;
	opacity:0.8;
	filter:alpha(opacity=40); /* For IE8 and earlier */}
#symposiumcontent {
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;}
#symposiumcontent p {
	padding: 0 0 0 10px;}
#symposiumcontent img.right {
	float: right;
	margin: 0 0 8px 14px;}
#symposiumcontent a:link, a:visited{
	border: 0;
	color: #000000;}
#symposiumcontent a:hover{
	color: #3661ad;}
/* end of Current Symposium */

/* Abstract/Poster/Oral Guidelines */
#guidelines {
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;}
#guidelines p {
	padding: 0 0 0 10px;}
#guidelines a:link, a:visited{
	border: 0;
	color: #000000;}
#guidelines a:hover{
	color: #3661ad;}
.abstracttitle {font-weight: 600;}
.ancillary {font-style: italic;}
#guidelinelist {
	list-style-type: circle;}
/* end of Abstract/Poster/Oral Guidelines */
	
/* past symposium */
#pastsymposiumrightwrapper {
	float: right;
	width: 200px;
	margin: 0 0 10px 10px;}
#pastsymposiumlinks {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #060053;
	background-color: #ECF8FF;
	border-radius: 4px 4px;
	font-size: 15px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: center;}
#pastsymposiumlinks p {
	margin-top: 8px;
	margin-bottom: 8px;}
#pastsymposiumlinks img {
	margin-top: 8px;
	margin-bottom: 8px;}
#pastsymposiumlinks a:link, a:visited{
	border: 0;
	color: #213A69;}
#pastsymposiumlinks a:hover{
	color: #3661ad;}
#pastsymposiumcontent {
	font-size: 14px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;}
#pastsymposiumcontent a:link, a:visited{
	border: 0;
	color: #213A69;}
#pastsymposiumcontent a:hover{
	color: #3661ad;}
#pastsymposiumcontent .strong{
	font-weight:600;}	
#pastsymposiumcontent img.speaker {
	float: left;
	margin: 0 8px 8px 0;
	padding: 0;}
/* end of past symposium */

/* sponsors */
#sponsorscontent {
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;}
#sponsorsfirstcolumn {
	float: left;
	width: 450px;}
#sponsorssecondcolumn {
	float: right;
	width: 450px;}
#sponsorswrap img{
	margin: 25px;
	display: block;
    margin-left: auto;
    margin-right: auto }
h3.sponsorsheading{
	text-align: center;
	margin, padding: 0;
	font-size: 14px;
	color: #01307C;
	clear: both;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
}
/* end of sponsors */

/* national board */
#advisorscontent {
	font-size: 14px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;
	color: #000000;}
#boardbios {
	margin: 0 0 0 30px;}
#boardbios h3{
	margin: 0; padding: 10px 0 3px 0;
	font-size: 13px;
	align: bottom;
	color: #002d4c;
	clear: both;}
#boardbios img{
	margin: 0 8px 0 0;
	float: left;}
#boardbios .individualbio{
	font-size: 14px;
	margin-left: 133px;
	color: #000000;}

/* volunteer, judge, and participant registration */
#registrationcontent {
	font-size: 14px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;
	color: #000000;}

/* awards */
#awardsindex {
	font-size: 15px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	color: #000000;
	text-align: center;}
#awardsindex a:link, a:visited{
	color: #213A69;}
#awardsindex a:hover{	
	color: #3661ad;}
#awardscontent {
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;
	color: #000000;}
#awardscontent h4{
	font-size: 15px;
	color: #002d4c;}
#awardscontent .awardheading {
	text-decoration: underline;}
#awardscontent .headingdescription {
	font-style: italic;}

/* In the News */
#newscontent {
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;}
#newscontent img.right {
	float: right;
	margin: 0 0 8px 14px;}
#newscontent a:link, a:visited{
	border: 0;
	color: #213A69;}
#newscontent a:hover{
	color: #3661ad;}

/* webmaster */
#webmastercontent {
	color: #000000;
	font-size: 13px;
	font-family: 'Arimo', Arial, Helvetica, san-serif;
	text-align: justify;}